<div *ngIf="order$ | async as order">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Quaitity</th>
      <th>Per unit</th>
      <th>cost</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order['items']; index as i">
        <td><img src="{{item.product.imageUrl}}"  style="border-radius: 50%" width="50"></td>
        <td>{{item.product.title}}</td>
        <td>{{item.quantity| json}}</td>
        <td>{{item.product.price}}</td>
        <td>${{item.totalPrice| number :'.2'}} </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;">Total</td>
        <td style="border-top: 2px solid black;border-bottom: 2px solid black">${{order['totalCartPrice'] |number :'.2'}}</td>
      </tr>

  </tbody>
  <h3>Shipping details</h3>
        <p >
          <span style="font-weight: 600;">{{order['shipping'].name}},</span> <br>
        {{order['shipping'].addressLine1}},<br>
        <span *ngIf="order['shipping'].addressLine2">{{order['shipping'].addressLine2}},</span>
        {{order['shipping'].city}},
        {{order['shipping'].state}} {{order['shipping'].pinCode}}<br>
        {{order['shipping'].country}}<br>
      </p>
  </table>
  <button class="btn btn-primary"(click)="editOrder()">Edit order</button>
  </div>





