/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 80px;
}

.navbar-light .navbar-brand {
    color: purple;
}
.list-group-item.active {
    background-color: purple;
    border-color: purple;
}
.fa-shopping-cart{
  color: purple;
}
